* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

header .pic {
  height: 120px;
  background: #EEEEEE; }
  header .pic a {
    width: 1200px;
    height: 120px;
    display: block;
    margin: 0 auto; }
    header .pic a img {
      width: 100%; }

#menu_content_bg {
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: #fff;
  z-index: 700;
  transition: all 3s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s; }

#menu_content_bg #menu_content_wrap ul {
  height: auto;
  width: 100%;
  position: absolute;
  color: #424242;
  display: block; }

#menu_content_bg #menu_content_wrap ul li {
  width: 100%;
  height: 230px; }

#menu_content_bg #menu_content_wrap ul li .menu_content {
  float: left;
  width: 160px;
  cursor: pointer;
  margin-top: 30px; }

#menu_content_bg #menu_content_wrap ul li .menu_content p {
  font-size: 13px;
  text-align: center;
  margin-top: 20px; }

#menu_content_bg #menu_content_wrap ul li .menu_content_line {
  width: 0px;
  height: 100px;
  float: left;
  margin: 30px 20px;
  border-left: 1px solid #D0D0D0; }

#big_banner_wrap {
  width: 1220px;
  height: 457px;
  margin: 0 auto;
  position: relative;
  color: #424242; }

#big_banner_wrap #banner_menu_wrap {
  width: 235px;
  height: 100%;
  float: left;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 35px;
  z-index: 600; }

#big_banner_wrap #banner_menu_wrap .active {
  margin-top: 20px; }

#big_banner_wrap #banner_menu_wrap li {
  width: 100%;
  height: 42px;
  position: relative;
  transition: all 3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  line-height: 40px;
  cursor: pointer; }

#big_banner_wrap #banner_menu_wrap li a {
  font-size: 13px;
  color: #ffffff;
  margin-left: 30px;
  float: left;
  text-decoration: none; }

#big_banner_wrap #banner_menu_wrap li .banner_menu_i {
  float: right;
  font-size: 20px;
  margin-right: 20px; }

#big_banner_wrap #banner_menu_wrap li .banner_menu_content {
  width: 600px;
  height: 499px;
  display: none;
  z-index: 610;
  position: absolute;
  top: 20px;
  left: 235px;
  background: #fff; }

#big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul {
  float: left;
  width: 300px; }

#big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul li {
  width: 250px;
  height: 40px;
  padding: 18px;
  float: left; }

#big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul li a {
  color: #424242;
  margin-left: 5px;
  font-size: 12px; }

#big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul li span {
  width: 59px;
  height: 25px;
  float: right;
  margin-top: 5px;
  border: 1px solid #ff6700;
  color: #FF6700;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  transition: all 3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s; }

#big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul li span:hover {
  background: #ff6700;
  color: #ffffff; }

#big_banner_wrap #big_banner_pic_wrap {
  width: 1220px;
  height: 460px;
  overflow: hidden;
  position: relative; }

#big_banner_wrap #big_banner_pic_wrap #big_banner_pic {
  width: 6130px;
  height: 460px;
  position: absolute;
  float: left; }

#big_banner_wrap #big_banner_pic_wrap #big_banner_pic li {
  width: 1226px;
  height: 460px;
  float: left;
  cursor: pointer; }

#big_banner_wrap #big_banner_change_wrap {
  width: 961px;
  height: 460px;
  position: absolute;
  top: 0px;
  left: 250px;
  color: #ffffff; }

#big_banner_wrap #big_banner_change_wrap div {
  transition: all 3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s; }

#big_banner_wrap #big_banner_change_wrap div:hover {
  background: #333333;
  cursor: pointer;
  color: #FF6700; }

#big_banner_wrap #big_banner_change_wrap #big_banner_change_prev {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 205px;
  font-size: 50px;
  text-align: center; }

#big_banner_wrap #big_banner_change_wrap #big_banner_change_next {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 205px;
  font-size: 50px;
  text-align: center; }

section {
  width: 100%; }
  section #shopping {
    height: 40px;
    background: #333333;
    color: #A4A8AB;
    font-size: 14px;
    min-width: 1200px;
    line-height: 40px; }
    section #shopping #shop {
      width: 1200px;
      margin: 0 auto; }
      section #shopping #shop ul:nth-child(1) {
        float: left; }
        section #shopping #shop ul:nth-child(1) li {
          float: left;
          padding: 0 8px;
          border-right: 1px solid #3E3E3E; }
          section #shopping #shop ul:nth-child(1) li:hover {
            color: white; }
      section #shopping #shop ul:nth-child(2) {
        float: right; }
        section #shopping #shop ul:nth-child(2) li {
          float: left;
          padding: 0 5px;
          border-right: 1px solid #3E3E3E; }
          section #shopping #shop ul:nth-child(2) li:last-child {
            background: #424242; }
          section #shopping #shop ul:nth-child(2) li:hover {
            color: white; }
  section #mi1 {
    width: 1200px;
    height: 100px;
    margin: 0 auto; }
    section #mi1 img {
      float: left; }
      section #mi1 img:nth-child(1) {
        padding-top: 20px;
        padding-bottom: 20px; }
      section #mi1 img:nth-child(2) {
        padding: 20px 44px; }
    section #mi1 ul {
      float: left;
      font-size: 16px;
      margin-top: 35px; }
      section #mi1 ul li {
        float: left;
        padding-right: 20px; }
        section #mi1 ul li a {
          color: #363636;
          text-decoration: none; }
        section #mi1 ul li:hover a {
          color: orange; }
    section #mi1 #in {
      float: right;
      position: relative;
      margin-top: 30px; }
      section #mi1 #in input {
        width: 220px;
        padding: 10px; }
      section #mi1 #in button {
        background: none;
        border: none;
        position: absolute;
        top: -10px;
        left: 210px; }
  section #mi1:after {
    display: block;
    clear: both;
    content: ''; }
  section .swiper-container {
    width: 985px;
    height: 492px;
    float: right; }
    section .swiper-container img {
      height: 492px; }
    section .swiper-container .swiper-pagination {
      margin-left: 25rem; }
  section #ban:after {
    display: block;
    clear: both;
    content: ''; }
  section #mi5 {
    width: 100%;
    margin-top: 30px; }
    section #mi5 ul {
      width: 1200px;
      margin: 0 auto; }
      section #mi5 ul li {
        width: 289.5px;
        float: left;
        padding-right: 14px; }
        section #mi5 ul li img {
          width: 289.5px;
          height: 168px; }
          section #mi5 ul li img:hover {
            box-shadow: 0px 2px 13px 2px rgba(0, 0, 0, 0.3); }
        section #mi5 ul li .bo {
          width: 289.5px;
          height: 84px;
          background: #5F5851;
          display: flex; }
          section #mi5 ul li .bo li {
            width: 96.5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #9D9D9D;
            border-bottom: 1px solid #9D9D9D;
            padding-left: 0.6rem; }
            section #mi5 ul li .bo li img {
              width: 1.5rem;
              height: 1.5rem;
              padding: 0.2rem; }
            section #mi5 ul li .bo li span {
              color: #CDCAC8;
              font-size: 14px; }
  section #mi5:after {
    display: block;
    clear: both;
    content: ''; }
  section #actor {
    width: 1200px;
    margin: 0 auto; }
    section #actor h1 {
      margin-top: 10px;
      margin-bottom: 10px; }
      section #actor h1 span {
        float: left; }
      section #actor h1 #btn {
        float: right; }
        section #actor h1 #btn button {
          width: 40px;
          padding: 5px 10px;
          background: none;
          border: none;
          border: 1px solid #E0E0E0;
          font-weight: bold;
          font-size: 16px; }
          section #actor h1 #btn button:nth-child(1) {
            color: #E8E3E0; }
          section #actor h1 #btn button:nth-child(2) {
            color: #B0B0B0; }
    section #actor ul {
      width: 1200px; }
      section #actor ul li {
        width: 204px;
        float: left;
        text-align: center;
        background: #FAFAFA;
        margin-right: 10px;
        padding: 30px 14px; }
        section #actor ul li img {
          width: 106px;
          height: 126px;
          padding: 20px; }
        section #actor ul li:nth-child(1) {
          border-top: 1px solid #FCE1B0; }
        section #actor ul li:nth-child(2) {
          border-top: 1px solid #D4E9C3; }
        section #actor ul li:nth-child(3) {
          border-top: 1px solid #B5DAF8; }
        section #actor ul li:nth-child(4) {
          border-top: 1px solid #F3BCBB; }
        section #actor ul li:nth-child(5) {
          border-top: 1px solid #AAE7DF; }
        section #actor ul li p {
          padding-bottom: 10px; }
        section #actor ul li p:nth-child(2) {
          font-size: 14px; }
        section #actor ul li p:nth-child(3) {
          font-size: 12px;
          color: #B0B0B0;
          padding-bottom: 20px; }
        section #actor ul li p:nth-child(4) {
          font-size: 14px;
          color: #FD7D09; }
    section #actor h1:after {
      display: block;
      clear: both;
      content: ''; }
    section #actor ul:after {
      display: block;
      clear: both;
      content: ''; }
  section #dajia {
    height: 700px;
    background: #F5F5F5; }
    section #dajia #jia {
      width: 1200px;
      margin: 30px auto;
      padding-top: 30px; }
      section #dajia #jia .top {
        padding: 10px 0; }
        section #dajia #jia .top h1 {
          float: left; }
        section #dajia #jia .top ul {
          float: right; }
          section #dajia #jia .top ul li {
            float: left;
            margin-left: 20px;
            text-align: center;
            padding-bottom: 5px; }
            section #dajia #jia .top ul li:hover {
              color: red;
              border-bottom: 1px solid red; }
          section #dajia #jia .top ul .active {
            color: red;
            border-bottom: 1px solid red;
            transition: all .3s;
            cursor: pointer; }
      section #dajia #jia .bot #bot_1 {
        float: left;
        width: 227px;
        padding-right: 4.1px; }
        section #dajia #jia .bot #bot_1 img {
          width: 227px; }
      section #dajia #jia .bot #bot_2 {
        float: left; }
        section #dajia #jia .bot #bot_2 ul {
          position: relative; }
          section #dajia #jia .bot #bot_2 ul .last {
            width: 210px;
            height: 270px;
            background: #F5F5F5; }
            section #dajia #jia .bot #bot_2 ul .last li {
              width: 210px;
              height: 130px;
              background: white;
              margin-bottom: 10px;
              padding-left: 15px;
              text-align: left; }
              section #dajia #jia .bot #bot_2 ul .last li div {
                float: left;
                padding-top: 42px; }
                section #dajia #jia .bot #bot_2 ul .last li div p {
                  padding-left: 28px; }
                section #dajia #jia .bot #bot_2 ul .last li div .p1 {
                  color: red; }
              section #dajia #jia .bot #bot_2 ul .last li img {
                float: right; }
          section #dajia #jia .bot #bot_2 ul li {
            width: 227px;
            height: 270px;
            background: #FFFFFF;
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            text-align: center; }
            section #dajia #jia .bot #bot_2 ul li:hover {
              margin-top: -3px;
              transition: all .3s;
              box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
            section #dajia #jia .bot #bot_2 ul li img {
              padding: 32px 20px; }
            section #dajia #jia .bot #bot_2 ul li p:nth-of-type(1) {
              font-size: 14px;
              padding-bottom: 3px; }
            section #dajia #jia .bot #bot_2 ul li p:nth-of-type(2) {
              color: #B0B0B0;
              font-size: 13px;
              padding-bottom: 6px; }
            section #dajia #jia .bot #bot_2 ul li p:nth-of-type(3) {
              color: #FF6700;
              padding-bottom: 20px; }
              section #dajia #jia .bot #bot_2 ul li p:nth-of-type(3) del {
                color: #B0B0B0; }
            section #dajia #jia .bot #bot_2 ul li > .xiang {
              position: absolute;
              left: 80px;
              background: #E53935;
              color: white;
              padding: 3px 10px;
              font-size: 13px; }
            section #dajia #jia .bot #bot_2 ul li > .xin {
              position: absolute;
              left: 80px;
              background: #83C44E;
              color: white;
              padding: 3px 10px;
              font-size: 13px; }
      section #dajia #jia #bot_1:after {
        display: block;
        clear: both;
        content: ''; }
      section #dajia #jia #bot_2:after {
        display: block;
        clear: both;
        content: ''; }
      section #dajia #jia .top:after {
        display: block;
        clear: both;
        content: ''; }
  section #zhi {
    height: 700px;
    background: #F5F5F5; }
    section #zhi #xiaozhi {
      width: 1200px;
      margin: 0px auto; }
      section #zhi #xiaozhi .top {
        padding: 10px 0; }
        section #zhi #xiaozhi .top h1 {
          float: left; }
        section #zhi #xiaozhi .top ul {
          float: right; }
          section #zhi #xiaozhi .top ul li {
            float: left;
            margin-left: 20px;
            text-align: center;
            padding-bottom: 5px; }
          section #zhi #xiaozhi .top ul .active {
            color: red;
            border-bottom: 1px solid red;
            transition: all .3s;
            cursor: pointer; }
      section #zhi #xiaozhi .bot #bot_1 {
        float: left;
        width: 248px; }
        section #zhi #xiaozhi .bot #bot_1 img {
          padding-bottom: 9px; }
          section #zhi #xiaozhi .bot #bot_1 img:hover {
            margin-top: -0.6px;
            transition: all .3s;
            box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
      section #zhi #xiaozhi .bot #bot_2 {
        float: left; }
        section #zhi #xiaozhi .bot #bot_2 ul {
          position: relative; }
          section #zhi #xiaozhi .bot #bot_2 ul .last {
            height: 270px;
            background: #F5F5F5; }
            section #zhi #xiaozhi .bot #bot_2 ul .last li {
              width: 208px;
              height: 140px;
              background: white;
              margin-bottom: 10px;
              padding-left: 15px; }
              section #zhi #xiaozhi .bot #bot_2 ul .last li div {
                float: left;
                padding-top: 40px; }
              section #zhi #xiaozhi .bot #bot_2 ul .last li img {
                float: right; }
          section #zhi #xiaozhi .bot #bot_2 ul li {
            width: 223px;
            height: 300px;
            background: #FFFFFF;
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            text-align: center; }
            section #zhi #xiaozhi .bot #bot_2 ul li:hover {
              margin-top: -0.6px;
              transition: all .3s;
              box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
            section #zhi #xiaozhi .bot #bot_2 ul li img {
              padding: 32px 20px; }
            section #zhi #xiaozhi .bot #bot_2 ul li p:nth-of-type(1) {
              font-size: 14px;
              padding-bottom: 0.2rem; }
            section #zhi #xiaozhi .bot #bot_2 ul li p:nth-of-type(2) {
              padding-bottom: 20px;
              color: #B0B0B0;
              font-size: 14px; }
            section #zhi #xiaozhi .bot #bot_2 ul li p:nth-of-type(3) {
              color: #FF6700; }
            section #zhi #xiaozhi .bot #bot_2 ul li span {
              position: absolute;
              left: 80px;
              background: #E53935;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
            section #zhi #xiaozhi .bot #bot_2 ul li .xiang {
              position: absolute;
              background: #83C44E;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
      section #zhi #xiaozhi #bot_1:after {
        display: block;
        clear: both;
        content: ''; }
      section #zhi #xiaozhi #bot_2:after {
        display: block;
        clear: both;
        content: ''; }
      section #zhi #xiaozhi .top:after {
        display: block;
        clear: both;
        content: ''; }
  section #da {
    height: 700px;
    background: #F5F5F5; }
    section #da #pei {
      width: 1200px;
      margin: 0px auto; }
      section #da #pei .top {
        padding: 10px 0; }
        section #da #pei .top h1 {
          float: left; }
        section #da #pei .top ul {
          float: right; }
          section #da #pei .top ul li {
            float: left;
            margin-left: 20px;
            text-align: center;
            padding-bottom: 5px; }
          section #da #pei .top ul .active {
            color: red;
            border-bottom: 1px solid red;
            transition: all .3s;
            cursor: pointer; }
      section #da #pei .bot #bot_1 {
        float: left;
        width: 248px; }
        section #da #pei .bot #bot_1 img {
          padding-bottom: 9px; }
          section #da #pei .bot #bot_1 img:hover {
            transition: all .3s;
            margin-top: -0.6px;
            box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
      section #da #pei .bot #bot_2 {
        float: left; }
        section #da #pei .bot #bot_2 ul {
          position: relative; }
          section #da #pei .bot #bot_2 ul .last {
            height: 270px;
            background: #F5F5F5; }
            section #da #pei .bot #bot_2 ul .last li {
              width: 208px;
              height: 140px;
              background: white;
              margin-bottom: 10px;
              padding-left: 15px; }
              section #da #pei .bot #bot_2 ul .last li div {
                float: left;
                padding-top: 40px; }
              section #da #pei .bot #bot_2 ul .last li img {
                float: right; }
          section #da #pei .bot #bot_2 ul li {
            width: 223px;
            height: 300px;
            background: #FFFFFF;
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            text-align: center; }
            section #da #pei .bot #bot_2 ul li:hover {
              transition: all .3s;
              margin-top: -0.6px;
              box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
            section #da #pei .bot #bot_2 ul li img {
              padding: 32px 20px; }
            section #da #pei .bot #bot_2 ul li p:nth-of-type(1) {
              font-size: 14px;
              padding-bottom: 3px; }
            section #da #pei .bot #bot_2 ul li p:nth-of-type(3) {
              color: #B0B0B0;
              font-size: 13px;
              padding-bottom: 6px; }
            section #da #pei .bot #bot_2 ul li p:nth-of-type(2) {
              color: #FF6700;
              padding-bottom: 20px; }
              section #da #pei .bot #bot_2 ul li p:nth-of-type(2) del {
                color: #B0B0B0; }
            section #da #pei .bot #bot_2 ul li span {
              position: absolute;
              left: 80px;
              background: #E53935;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
            section #da #pei .bot #bot_2 ul li .xin {
              position: absolute;
              background: #83C44E;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
            section #da #pei .bot #bot_2 ul li .zeng {
              position: absolute;
              background: #2196F3;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
      section #da #pei #bot_1:after {
        display: block;
        clear: both;
        content: ''; }
      section #da #pei #bot_2:after {
        display: block;
        clear: both;
        content: ''; }
      section #da #pei .top:after {
        display: block;
        clear: both;
        content: ''; }
  section #pe {
    height: 700px;
    background: #F5F5F5; }
    section #pe #jian {
      width: 1200px;
      margin: 0px auto; }
      section #pe #jian .top {
        padding: 10px 0; }
        section #pe #jian .top h1 {
          float: left; }
        section #pe #jian .top ul {
          float: right; }
          section #pe #jian .top ul li {
            float: left;
            margin-left: 20px;
            text-align: center;
            padding-bottom: 5px; }
          section #pe #jian .top ul .active {
            color: red;
            border-bottom: 1px solid red;
            transition: all .3s;
            cursor: pointer; }
      section #pe #jian .bot #bot_1 {
        float: left;
        width: 248px; }
        section #pe #jian .bot #bot_1 img {
          width: 240px;
          height: 300px;
          padding-bottom: 11px; }
          section #pe #jian .bot #bot_1 img:hover {
            transition: all .3s;
            margin-top: -0.6px;
            box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
      section #pe #jian .bot #bot_2 {
        float: left; }
        section #pe #jian .bot #bot_2 ul {
          position: relative; }
          section #pe #jian .bot #bot_2 ul .last {
            height: 270px;
            background: #F5F5F5; }
            section #pe #jian .bot #bot_2 ul .last li {
              width: 208px;
              height: 130px;
              background: white;
              margin-bottom: 10px;
              padding-left: 15px; }
              section #pe #jian .bot #bot_2 ul .last li div {
                float: left;
                padding-top: 40px; }
              section #pe #jian .bot #bot_2 ul .last li img {
                float: right; }
          section #pe #jian .bot #bot_2 ul li {
            width: 223px;
            height: 300px;
            background: #FFFFFF;
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            text-align: center; }
            section #pe #jian .bot #bot_2 ul li:hover {
              transition: all .3s;
              margin-top: -0.6px;
              box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
            section #pe #jian .bot #bot_2 ul li img {
              padding: 32px 20px; }
            section #pe #jian .bot #bot_2 ul li p:nth-of-type(1) {
              font-size: 14px;
              padding-bottom: 3px; }
            section #pe #jian .bot #bot_2 ul li p:nth-of-type(3) {
              color: #B0B0B0;
              font-size: 13px;
              padding-bottom: 6px; }
            section #pe #jian .bot #bot_2 ul li p:nth-of-type(2) {
              color: #FF6700;
              padding-bottom: 20px; }
              section #pe #jian .bot #bot_2 ul li p:nth-of-type(2) del {
                color: #B0B0B0; }
            section #pe #jian .bot #bot_2 ul li span {
              position: absolute;
              left: 80px;
              background: #E53935;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
            section #pe #jian .bot #bot_2 ul li .xin {
              position: absolute;
              background: #83C44E;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
            section #pe #jian .bot #bot_2 ul li .zeng {
              position: absolute;
              background: #2196F3;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
      section #pe #jian #bot_1:after {
        display: block;
        clear: both;
        content: ''; }
      section #pe #jian #bot_2:after {
        display: block;
        clear: both;
        content: ''; }
      section #pe #jian .top:after {
        display: block;
        clear: both;
        content: ''; }
  section #zhou {
    height: 700px;
    background: #F5F5F5; }
    section #zhou #bian {
      width: 1200px;
      margin: 0px auto; }
      section #zhou #bian .top {
        padding: 10px 0; }
        section #zhou #bian .top h1 {
          float: left; }
        section #zhou #bian .top ul {
          float: right; }
          section #zhou #bian .top ul li {
            float: left;
            margin-left: 20px;
            text-align: center;
            padding-bottom: 5px; }
          section #zhou #bian .top ul .active {
            color: red;
            border-bottom: 1px solid red;
            transition: all .3s;
            cursor: pointer; }
      section #zhou #bian .bot #bot_1 {
        float: left;
        width: 248px; }
        section #zhou #bian .bot #bot_1 img {
          width: 240px;
          height: 300px;
          padding-bottom: 11px; }
          section #zhou #bian .bot #bot_1 img:hover {
            transition: all .3s;
            margin-top: -0.6px;
            box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
      section #zhou #bian .bot #bot_2 {
        float: left; }
        section #zhou #bian .bot #bot_2 ul {
          position: relative; }
          section #zhou #bian .bot #bot_2 ul .last {
            height: 270px;
            background: #F5F5F5; }
            section #zhou #bian .bot #bot_2 ul .last li {
              width: 208px;
              height: 130px;
              background: white;
              margin-bottom: 10px;
              padding-left: 15px; }
              section #zhou #bian .bot #bot_2 ul .last li div {
                float: left;
                padding-top: 40px; }
              section #zhou #bian .bot #bot_2 ul .last li img {
                float: right; }
          section #zhou #bian .bot #bot_2 ul li {
            width: 223px;
            height: 300px;
            background: #FFFFFF;
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            text-align: center; }
            section #zhou #bian .bot #bot_2 ul li:hover {
              transition: all .3s;
              margin-top: -0.6px;
              box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
            section #zhou #bian .bot #bot_2 ul li img {
              padding: 32px 20px; }
            section #zhou #bian .bot #bot_2 ul li p:nth-of-type(1) {
              font-size: 14px;
              padding-bottom: 3px; }
            section #zhou #bian .bot #bot_2 ul li p:nth-of-type(3) {
              color: #B0B0B0;
              font-size: 13px;
              padding-bottom: 6px; }
            section #zhou #bian .bot #bot_2 ul li p:nth-of-type(2) {
              color: #FF6700;
              padding-bottom: 20px; }
              section #zhou #bian .bot #bot_2 ul li p:nth-of-type(2) del {
                color: #B0B0B0; }
            section #zhou #bian .bot #bot_2 ul li span {
              position: absolute;
              left: 80px;
              background: #E53935;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
            section #zhou #bian .bot #bot_2 ul li .mian {
              position: absolute;
              background: #FFAC13;
              color: white;
              padding: 2px 10px;
              font-size: 13px; }
      section #zhou #bian #bot_1:after {
        display: block;
        clear: both;
        content: ''; }
      section #zhou #bian #bot_2:after {
        display: block;
        clear: both;
        content: ''; }
      section #zhou #bian .top:after {
        display: block;
        clear: both;
        content: ''; }
  section #tui {
    height: 350px;
    background: #F5F5F5;
    margin-top: -20px; }
    section #tui #jian {
      width: 1200px;
      margin: 0 auto; }
    section #tui h1 {
      margin-top: 10px;
      margin-bottom: 10px; }
      section #tui h1 span {
        float: left; }
      section #tui h1 #btn {
        float: right; }
        section #tui h1 #btn button {
          width: 40px;
          padding: 5px 10px;
          background: none;
          border: none;
          border: 1px solid #E0E0E0;
          font-weight: bold;
          font-size: 16px; }
          section #tui h1 #btn button:nth-child(1) {
            color: #E8E3E0; }
          section #tui h1 #btn button:nth-child(2) {
            color: #B0B0B0; }
    section #tui ul {
      width: 100%;
      height: 270px; }
      section #tui ul li {
        width: 200px;
        height: 230px;
        float: left;
        text-align: center;
        background: #FFFFFF;
        margin-right: 10px;
        padding: 30px 15px; }
        section #tui ul li:hover {
          transition: all .3s;
          margin-top: -0.6px;
          box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
        section #tui ul li img {
          width: 50%;
          padding: 20px; }
        section #tui ul li p {
          padding-bottom: 10px; }
        section #tui ul li p:nth-child(2) {
          font-size: 14px; }
        section #tui ul li p:nth-child(3) {
          font-size: 12px;
          color: #B0B0B0;
          padding-bottom: 20px; }
        section #tui ul li p:nth-child(4) {
          font-size: 12px;
          color: #FD7D09; }
    section #tui h1:after {
      display: block;
      clear: both;
      content: ''; }
    section #tui ul:after {
      display: block;
      clear: both;
      content: ''; }
  section #re {
    height: 390px;
    background: #F5F5F5;
    margin-top: -20px; }
    section #re #ping {
      width: 1200px;
      margin: 0 auto; }
    section #re h1 {
      margin-top: 20px;
      margin-bottom: 20px; }
    section #re ul {
      width: 100%;
      height: 300px; }
      section #re ul li {
        width: 290px;
        height: 320px;
        float: left;
        background: #FFFFFF;
        margin-right: 10px; }
        section #re ul li:hover {
          transition: all .3s;
          margin-top: -0.6px;
          box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.1); }
        section #re ul li img {
          width: 100%; }
        section #re ul li p {
          padding-bottom: 10px; }
        section #re ul li p:nth-child(2) {
          font-size: 14px; }
        section #re ul li p:nth-child(3) {
          font-size: 12px;
          color: #B0B0B0;
          padding-bottom: 20px; }
        section #re ul li p:nth-child(4) {
          font-size: 12px;
          color: #FD7D09; }
    section #re ul:after {
      display: block;
      clear: both;
      content: ''; }
  section #nei {
    height: 510px;
    background: #F5F5F5;
    min-width: 1200px; }
  section #rong {
    width: 1200px;
    margin: -10px auto;
    min-width: 1200px; }
    section #rong h1 {
      margin-top: 10px;
      margin-bottom: 10px; }
      section #rong h1 span {
        float: left; }
    section #rong ul {
      width: 1200px;
      height: 362px; }
      section #rong ul li {
        width: 260px;
        height: 362px;
        float: left;
        text-align: center;
        background: #FFFFFF;
        margin-right: 10px;
        padding: 30px 14px;
        position: relative; }
        section #rong ul li .span1 {
          display: block;
          padding-bottom: 20px;
          padding-top: 10px; }
        section #rong ul li:nth-child(1) {
          border-top: 1px solid #FCE1B0; }
          section #rong ul li:nth-child(1) .span1 {
            color: #FCE1B0; }
        section #rong ul li:nth-child(2) {
          border-top: 1px solid #D4E9C3; }
          section #rong ul li:nth-child(2) .span1 {
            color: #D4E9C3; }
        section #rong ul li:nth-child(3) {
          border-top: 1px solid #B5DAF8; }
          section #rong ul li:nth-child(3) .span1 {
            color: #B5DAF8; }
        section #rong ul li:nth-child(4) {
          border-top: 1px solid #F3BCBB; }
          section #rong ul li:nth-child(4) .span1 {
            color: #F3BCBB; }
        section #rong ul li:nth-child(5) {
          border-top: 1px solid #AAE7DF; }
          section #rong ul li:nth-child(5) .span1 {
            color: #AAE7DF; }
        section #rong ul li p:nth-of-type(1) {
          font-size: 20px;
          padding-bottom: 10px; }
        section #rong ul li p:nth-of-type(2) {
          font-size: 13px;
          color: #B0B0B0;
          padding-bottom: 20px; }
        section #rong ul li p:nth-of-type(3) {
          font-size: 15px;
          color: #363636; }
        section #rong ul li #banner #pic img {
          width: 103.6px;
          height: 134.2px;
          padding: 20px; }
        section #rong ul li #banner #bar {
          width: 30%;
          height: 2px;
          position: absolute;
          left: 35%;
          display: flex;
          justify-content: space-around; }
          section #rong ul li #banner #bar span {
            width: 6px;
            height: 6px;
            background: #B0B0B0;
            border-radius: 50%; }
          section #rong ul li #banner #bar .active11 {
            background: white;
            border: 1px solid #FF6F0E; }
    section #rong h1:after {
      display: block;
      clear: both;
      content: ''; }
    section #rong ul:after {
      display: block;
      clear: both;
      content: ''; }
  section #shi {
    height: 400px;
    background: #F5F5F5;
    margin-top: -20px; }
    section #shi #pin {
      width: 1200px;
      margin: 0 auto; }
    section #shi h1 {
      margin-bottom: 20px; }
    section #shi ul {
      width: 100%;
      height: 300px; }
      section #shi ul li {
        width: 290px;
        height: 250px;
        float: left;
        background: #FFFFFF;
        margin-right: 10px;
        text-align: center; }
        section #shi ul li img {
          width: 100%; }
        section #shi ul li p {
          padding-bottom: 10px; }
        section #shi ul li p:nth-child(2) {
          font-size: 14px;
          padding-top: 10px; }
        section #shi ul li p:nth-child(3) {
          font-size: 12px;
          color: #B0B0B0;
          padding-bottom: 30px; }
        section #shi ul li p:nth-child(4) {
          font-size: 12px;
          color: #FD7D09; }
    section #shi h1:after {
      display: block;
      clear: both;
      content: ''; }
    section #shi ul:after {
      display: block;
      clear: both;
      content: ''; }

.mint {
  width: 1300px;
  margin: 0 auto; }
  .mint ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #9D9D9D;
    height: 35px;
    padding: 15px 0; }
    .mint ul li {
      border-right: 1px solid #9D9D9D;
      width: 12rem;
      text-align: center; }
      .mint ul li a {
        color: #666;
        font-size: 1.1rem;
        line-height: 35px;
        text-decoration: none; }
        .mint ul li a:hover {
          color: #FF6700; }

.foot {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }
  .foot ul {
    margin: 3rem 30px; }
    .foot ul p {
      font-size: 14px; }
    .foot ul li {
      line-height: 25px; }
      .foot ul li a {
        color: #BEBEBE;
        font-size: 10px;
        text-decoration: none; }

.foot_left {
  display: flex; }
  .foot_left ul li a:hover {
    color: #FF6700; }
  .foot_left ul p:hover {
    color: #FF6700; }

.foot_right {
  text-align: center;
  width: 25%;
  margin: 3rem 0;
  border-left: 1px solid #999;
  line-height: 30px; }
  .foot_right p {
    font-size: 14px; }
  .foot_right span {
    border: 1px solid orange;
    font-size: 12px;
    padding: 7px 30px;
    transition: .5s;
    color: orange; }
    .foot_right span:hover {
      background: orange;
      color: #fff; }

.foot1 {
  width: 100%;
  background: #FAFAFA; }
  .foot1 .foot2 {
    width: 1200px;
    margin: 0 auto; }
    .foot1 .foot2 .foot3 img {
      float: left; }
    .foot1 .foot2 .foot3 div {
      float: left;
      margin-left: 10px; }
      .foot1 .foot2 .foot3 div p {
        font-size: 14px;
        color: #979797; }
      .foot1 .foot2 .foot3 div .foot_p {
        color: #B2B6BB;
        font-size: 12px; }
    .foot1 .foot2 .foot4 {
      float: right;
      margin-top: -30px; }
  .foot1 .foot2:after {
    display: block;
    clear: both;
    content: ''; }

.clearfix:after {
  display: block;
  clear: both;
  content: ''; }

/*# sourceMappingURL=mi.css.map */
